html,
body {
  height: 100%; }

.cover {
  height: 95vh; }

.cover1 {
  height: 60vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/Mahion%20Falls.jpg);
  background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/nature3.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding: 0 10%;
  box-shadow: inset 0 0 10% #000; }
  .cover1 .cover-text {
    text-align: center;
    color: #fff;
    align-items: center;
    margin-right: 2em;
    margin-bottom: 3em; }
    .cover1 .cover-text h2 {
      text-transform: uppercase; }
    .cover1 .cover-text img {
      width: 100%; }

.img-circle {
  border-radius: 50%; }

.styled {
  border: 5px solid #000;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); }

.cover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/nature3.jpg);
  background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/nature3.jpg);
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  padding: 0 10%;
  box-shadow: inset 0 0 10% #000; }
  .cover .cover-text {
    text-align: center;
    color: #fff;
    align-items: center;
    margin-right: 2em; }
    .cover .cover-text h2 {
      text-transform: uppercase; }
    .cover .cover-text img {
      width: 100%; }

section {
  background-color: #fff;
  padding: 3em 0; }
  section blockquote {
    border: none;
    margin-top: 2em;
    font-family: Georgia, Times, sans-serif;
    font-style: italic;
    font-size: 2em;
    color: #000; }
  section cite {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-family: Helvetica, arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    color: #888;
    margin-top: 40px; }

footer {
  background-color: #000;
  color: #fff;
  padding: 2em 2em;
  font-family: Georgia, Times, sans-serif; }
  footer img {
    width: 80%;
    margin-top: -4em; }
  footer .breadcrumb {
    background-color: #000; }

.beach-activities .acts {
  list-style: none;
  padding: 0 0 2em 0;
  margin: 0; }
  .beach-activities .acts li {
    position: relative;
    min-height: 11em;
    padding: 0.5em 0 1em 15em;
    margin-bottom: 2em; }
    .beach-activities .acts li img {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 3em; }

.beach-activities .bookings {
  list-style: none; }
  .beach-activities .bookings li {
    margin-bottom: 5.5em;
    padding: 0 0 0 1em; }

.beach-activities h4 {
  margin: 1em 0; }

.form {
  position: absolute; }
